<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ballot | Show Poll</title>
  <link rel="stylesheet" type="text/css" href="/static/main.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
    integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>
</head>

<body class="body-bg min-h-screen pt-12 md:pt-20 pb-6 px-2 md:px-0" style="font-family: 'Lato', sans-serif">
  <header class="max-w-lg mx-auto">
    <a href="/">
      <h1 class="text-4xl font-bold text-white text-center">Ballot</h1>
    </a>
  </header>

  <main class="bg-white max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl">
    <section>
      <h3 class="font-bold text-2xl">{{.questionText}}</h3>
    </section>
    <div>
      <canvas id="horizontalChart" width="500" height="100"></canvas>
    </div>

    <script>
      Chart.plugins.unregister(ChartDataLabels);
      var ctx = document.getElementById("horizontalChart");
      /*
                  var myChart = new Chart(ctx, {
                    type: "horizontalBar",
                    data: {
                      labels: [{{range .OptionsSubmits}}"{{.OptionText}}",{{end}} ],
                      datasets: [
                        {
                          data: [{{range .OptionsSubmits}} {{ .Votes}}, {{end}}],
                          backgroundColor: [
                            "rgba(255, 99, 132, 0.2)",
                            "rgba(54, 162, 235, 0.2)",
                            "rgba(255, 206, 86, 0.2)",
                            "rgba(75, 192, 192, 0.2)",
                            "rgba(153, 102, 255, 0.2)",
                            "rgba(255, 159, 64, 0.2)",
                          ],
                          borderColor: [
                            "rgba(255, 99, 132, 1)",
                            "rgba(54, 162, 235, 1)",
                            "rgba(255, 206, 86, 1)",
                            "rgba(75, 192, 192, 1)",
                            "rgba(153, 102, 255, 1)",
                            "rgba(255, 159, 64, 1)",
                          ],
                          borderWidth: 1,
                        },
                      ],
                    },
                    options: {
                      legend: { display: false },
                    },
                  });-->
                  */
      new Chart(ctx, {
        type: "horizontalBar",
        plugins: [ChartDataLabels],
        data: {
          labels: [
            {{ range .OptionsSubmits }}"{{.OptionText}}",{{ end }} // eslint-disable-line
                  ],
        datasets: [
        {
          backgroundColor: [
            "#3e95cd",
            "#8e5ea2",
            "#3cba9f",
            "#e8c3b9",
            "#c45850",
          ],
          data: [{{ range .OptionsSubmits }} {{ .Votes }}, {{ end }}], // eslint-disable-line
                    },
                  ],
                },
        options: {
        legend: { display: false },
        title: {
          display: false,
        },
        scales: {
          xAxes: [{
            ticks: {
              beginAtZero: true,
              stepSize: 1,
            },
          }],
          yAxes: [{
            gridLines: {
              display: false,

            },
            ticks: {
              padding: 40,
            }
          }],
        },
        plugins: {
          datalabels: {
            anchor: 'start',
            align: 'left',
            formatter: (value, ctx) => {
              let sum = 0;
              let dataArr = ctx.chart.data.datasets[0].data;
              dataArr.map(data => {
                sum += data;
              });
              let percentage = (value * 100 / sum).toFixed(0) + "%";

              return percentage;
            },
            color: '#000',
          }
        }
      },

              });
    </script>
  </main>
</body>

</html>